.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container::after {
  content: '';
  display: block;
  clear: both;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background: yellow;
}

.menu > li {
  display: inline-block;
  position: relative;
}

.menu li:hover>.drop {
  display: block;
}

.menu a {
  border: 1px solid ;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: brown;
}

.drop {
  width: 100px;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0;
  list-style: none;
  display: none;
  background: blue;
}

.drop  .drop {
  top: 0;
  left: 100%;
}
  
.drop>li {
  position: relative;
}
